body{
    background-image: url(images/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 7px;
}
.container input{
   margin-bottom:10px ;

}

 @media screen and (max-width: 500px) {
    .container{
        width: 300px;
    }

}

#inp{
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);    
}

#inp:hover{
    background-color: hsl(0, 0%, 90%);
}

#inp::placeholder{
    padding: 6px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 70%);
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border: 1px solid gray;
}

.logo-container:hover{
    background-color: hsl(0, 0%, 65%);
}

#location-logo{
    width: 25px;
    

}
.get-input{
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

#btn{
    background-color: hsl(211, 100%, 50%);
    border: none;
    padding: 7px 10px;
    border-radius: 10px;

}
#btn:hover{
    background-color:hsl(211, 100%, 45%) ;
}

.content{
    display: none;
    text-align: center;
}
.content p{
    font-size: 1.2rem;
}

#displayError{
    color: hsl(0, 100%, 55%);
    font-weight: bold;
}

