body{
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046); 
    background: linear-gradient(to right, #1CB5E0, #000046);
    font-family: Roboto , sans-serif;


    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 7px;
}
.container input{
   margin-bottom:10px ;

}

 @media screen and (max-width: 500px) {
    .container{
        width: 300px;
    }

}

#inp{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 70%);    
}
#title{
    color: hsl(240, 67%, 35%);
}


#inp:hover{
    background-color: hsl(0, 0%, 90%);
}

#inp::placeholder{
    padding: 6px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 70%);
    width: 32px;
    height: 32px;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 70%);
}

.logo-container:hover{
    background-color: hsl(0, 0%, 65%);
}

#location-logo{
    width: 25px;
    

}
.get-input{
    display: flex;
    flex-direction: row;
    gap: .8rem;
}

#btn{
    background-color:hsl(240, 67%, 60%);
    font-weight: bold;
    border: none;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;

}
#btn:hover{
    background-color:hsl(240, 67%, 50%) ;
}

.content{
    display: none;
    text-align: center;
}
.content p{
    font-size: 1.5rem;
}

#displayError{
    color: hsl(0, 100%, 55%);
    font-weight: bold;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


